*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 40px;
}

nav{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    list-style: none;
}
.navbar ul li {
    display: inline;
    align-items: center;
    margin-right: 9px;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all .3s linear;
    font-size: large;
}
nav a:hover{
    text-decoration: underline;
}